VITE_PORT=3000

# DOCKER
DOCKER_DATABASE_PORT="5432"
DOCKER_DATABASE_NAME="startui"
DOCKER_DATABASE_USERNAME="startui"
DOCKER_DATABASE_PASSWORD="startui"

DOCKER_MINIO_API_PORT="9000"
DOCKER_MINIO_UI_PORT="9001"
DOCKER_MINIO_USERNAME="minioadmin"
DOCKER_MINIO_PASSWORD="minioadmin"

DOCKER_MAILDEV_SMTP_PORT="1025"
DOCKER_MAILDEV_UI_PORT="1080"

# BASE URL
VITE_BASE_URL="http://localhost:${VITE_PORT}"

# S3
S3_BUCKET_NAME="default"
S3_HOST="127.0.0.1:${DOCKER_MINIO_API_PORT}"
S3_ACCESS_KEY_ID="startui-access-key"
S3_SECRET_ACCESS_KEY="startui-secret-key"
S3_SECURE=false
S3_FORCE_PATH_STYLE=true
VITE_S3_BUCKET_PUBLIC_URL="http://${S3_HOST}/${S3_BUCKET_NAME}"

# Use the following environment variables to show the environment name.
VITE_ENV_NAME="LOCAL"
VITE_ENV_EMOJI="🚧"
VITE_ENV_COLOR="gold"

# Configure demo mode (read only)
VITE_IS_DEMO="false"

# DATABASE
DATABASE_URL="postgres://${DOCKER_DATABASE_USERNAME}:${DOCKER_DATABASE_PASSWORD}@localhost:${DOCKER_DATABASE_PORT}/${DOCKER_DATABASE_NAME}"

# AUTH
AUTH_SECRET="REPLACE ME" # You can use `npx @better-auth/cli@latest secret` to a generated secret
AUTH_SESSION_EXPIRATION_IN_SECONDS=2592000 # 30 days
AUTH_SESSION_UPDATE_AGE_IN_SECONDS=86400 # 1 day (every 1 day the session expiration is updated)
AUTH_TRUSTED_ORIGINS="start-ui-native://,start-ui-native://*" # Mobile app scheme for trustedOrigins config

# GITHUB
GITHUB_CLIENT_ID="REPLACE ME"
GITHUB_CLIENT_SECRET="REPLACE ME"

# EMAILS
EMAIL_SERVER="smtp://0.0.0.0:${DOCKER_MAILDEV_SMTP_PORT}"
EMAIL_FROM="Start UI <noreply@example.com>"

# LOGGER
LOGGER_LEVEL="info"
LOGGER_PRETTY="true"
