# DOCKER
DOCKER_DATABASE_PORT="5432"
DOCKER_DATABASE_NAME="startui"
DOCKER_DATABASE_USERNAME="startui"
DOCKER_DATABASE_PASSWORD="startui"

# PUBLIC CONFIG
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
# Use the following environment variables to show the environment name.
NEXT_PUBLIC_ENV_NAME="LOCAL"
NEXT_PUBLIC_ENV_EMOJI="🚧"
NEXT_PUBLIC_ENV_COLOR_SCHEME="warning"
# Configure demo mode (read only)
NEXT_PUBLIC_IS_DEMO="false"

# DATABASE
DATABASE_URL="postgres://${DOCKER_DATABASE_USERNAME}:${DOCKER_DATABASE_PASSWORD}@localhost:${DOCKER_DATABASE_PORT}/${DOCKER_DATABASE_NAME}"

# AUTH
AUTH_SECRET="Replace me with `openssl rand -base64 32` generated secret"

# EMAILS
EMAIL_SERVER="smtp://username:password@0.0.0.0:1025"
EMAIL_FROM="Start UI <noreply@example.com>"

# LOGGER
LOGGER_LEVEL="info"
LOGGER_PRETTY="true"

#S3
S3_ENDPOINT="https://{{YOUR_ACCOUNT_ID}}.r2.cloudflarestorage.com"
S3_BUCKET_NAME="YOUR_BUCKET_NAME"
S3_BUCKET_PUBLIC_BASE_URL="https://{{YOUR_BUCKET_PUBLIC_BASE_URL}}"
S3_ACCESS_KEY_ID="YOUR_ACCESS_KEY_ID"
S3_SECRET_ACCESS_KEY="YOUR_SECRET_ACCESS_KEY"
