version: '3.8'
services:
  postgres:
    image: postgres
    ports:
      - '${DATABASE_DOCKER_IMAGE_PORT:-5432}:5432'
    environment:
      POSTGRES_DB: startui
      POSTGRES_USER: startui
      POSTGRES_PASSWORD: startui

  minio:
    image: 'minio/minio:latest'
    ports:
      - '${FORWARD_MINIO_PORT:-9000}:9000'
      - '${FORWARD_MINIO_CONSOLE_PORT:-9090}:9090'
    environment:
      MINIO_ROOT_USER: $S3_ACCESS_KEY_ID
      MINIO_ROOT_PASSWORD: $S3_SECRET_ACCESS_KEY
    volumes:
      - 'minio:/data/minio'
    command: minio server /data/minio --console-address ":9090"

  createbuckets:
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc alias set myminio http://minio:9000 $S3_ACCESS_KEY_ID $S3_SECRET_ACCESS_KEY;
      /usr/bin/mc mb myminio/start-ui-bucket;
      /usr/bin/mc anonymous set public myminio/start-ui-bucket;
      exit 0;
      "

# use docker compose down --volumes to remove volumes declared in this file
volumes:
  minio:
    driver: local
